:root {
  --total-black: #000;
  --gray-1: #C8C8C8;
  --gray-2: #d9d9d9;
  --blue-1: #1890FF;
  --blue-2: #E6F7FF;
  --snowy: #fff;
  --scrollbat-track: rgba(0, 0, 0, 0.1);
  --scrollbat-thumb: rgba(0, 0, 0, 0.2);
}
